<h1>Genre: <%=@genre.name%></h1>
<h4>Songs:</h4>
<%@genre.songs.each do |song| %>
<p><a href="/songs/<%=song.slug%>"><%=song.name%></a></p>
<%end%>

<h4>Artists:</h4>
<%@genre.songs.each do |song| %>
<p><a href="/artists/<%=song.artist.slug%>"><%=song.artist.name%></a></p>
<%end%>
 